<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Name Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<img alt="doug" align="center" src="/img/name_is.png" class="picture" /><br><br>
<body>
First name is: <%= fname %><br>
Last name is: <%= lname %><br>
Address is: <%= address %><br>
City is: <%= city %><br>
State is: <%= state %><br>
<br>
<br>
<script>
    window.onload=getOrderDate('date');
</script>