<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>Name Game</title>
<link href="<%= url('/css/main.css') %>" rel= "stylesheet" type="text/css" />
</head>
<img alt="doug" align="center" src="/img/nameis.png" class="picture" /><br>
<body>
first name is: <%= fname %><br>
last name is: <%= lname %><br>
Address is: <%= address %><br>
City is: <%= city %><br>
<p>State is: <%= state %><p><br>
<br>
<br>
